In [359]:
import pandas as pd

In [360]:
df = pd.read_csv('StudentsPerformance.csv')

In [361]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,NaN
1,female,group C,some college,standard,completed,69,90,88.0
2,female,group B,master's degree,standard,none,90,95,93.0
3,male,group A,associate's degree,free/reduced,none,47,57,44.0
4,male,group C,some college,standard,none,76,78,75.0

In [362]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  1
dtype: int64

In [363]:
df.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                   999
dtype: int64

In [364]:
df.dropna(inplace=True)

In [365]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [366]:
def resolveOutliners(df, numeric_columns):
    for col in numeric_columns:
        q1 = df[col].quantile(0.25)
        q3 = df[col].quantile(0.75)
        IQR = q3 - q1
        lower = q1 - 1.5 * IQR
        upper = q3 + 1.5 * IQR
        df = df[(df[col] >= lower) & (df[col] <= upper)]
    return df

numeric_columns = df.columns[-3:]
df = resolveOutliners(df, numeric_columns)

In [367]:
import numpy as np

In [368]:
import seaborn as sn
import matplotlib.pyplot as plt

In [369]:
df.iloc[:, -3:].skew()

math score      -0.024889
reading score   -0.077140
writing score   -0.083258
dtype: float64

In [370]:
cols = ['reading score', 'writing score', 'math score']
df[cols] = df[cols].groupby(df.index // 2).transform('mean')

In [371]:
df.iloc[:, -3:].skew()

math score       0.020583
reading score   -0.036073
writing score   -0.049662
dtype: float64